.newsThumbnail {
    width: calc(25% - 15px);
    height: auto;
    min-height: 50svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    gap: 10px;
    padding: 20px;
}

.newsThumbnailDark {
    background-color: #282828;
}

.newsThumbnailLight {
    background-color: #e8e8e8;
}

.newsImage {
    width: 100%;
    height: 20svh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.newsImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.newsInfo {
    width: 100%;
    height: 20svh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}

.newsInfo h3:hover {
    text-decoration: underline;
}

.newsAuthor {
    width: 100%;
    height: 10svh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 0 20px 0px 20px;
}

.newsAuthorDark {
    border: 1px solid #696868;
}

.newsAuthorLight {
    border: 1px solid #bbbaba;
}

.newsAuthor p, .newsAuthorLight p {
    max-width: 90%;
    overflow: hidden;
}


/* DESKTOP PICCOLI */
@media screen and (min-width: 1025px) and (max-width: 1500px) {

    .newsThumbnail {
        width: calc(33.33% - 15px);
        height: auto;
        min-height: 65svh;
    }

    .newsImage {
        width: 100%;
        height: 25svh;
    }

    .newsInfo {
        width: 100%;
        height: 22svh;
    }

    .newsAuthor {
        width: 100%;
        height: 15svh;
    }

    .newsAuthorLight {
        width: 100%;
        height: 15svh;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* TEMA SCURO */
    .newsThumbnail {
        width: calc(50% - 10px);
        height: auto;
        min-height: 40svh;
    }

    /* TEMA CHIARO */
    .newsThumbnailLight {
        width: calc(50% - 10px);
        height: auto;
        min-height: 40svh;
    }

    .newsImage {
        height: 20svh;
    }

    .newsInfo {
        width: 100%;
        height: 12svh;
    }

    .newsAuthor {
        width: 100%;
        height: 8svh;
        padding: 20px;
    }

    .newsAuthorLight {
        width: 100%;
        height: 8svh;
        padding: 20px;
    }
}

/* SMARTPHONE */
@media screen and (max-width: 767px) {

    /* TEMA SCURO */
    .newsThumbnail {
        width: 100%;
        height: auto;
        min-height: 60svh;
    }

    /* TEMA CHIARO */
    .newsThumbnailLight {
        width: 100%;
        height: auto;
        min-height: 60svh;
    }

    .newsImage {
        height: 25svh;
    }

    .newsInfo {
        width: 100%;
        height: auto;
        min-height: 20svh;
    }

    .newsAuthor {
        width: 100%;
        height: auto;
        min-height: 10svh;
        padding: 20px;
    }

    .newsAuthorLight {
        width: 100%;
        height: auto;
        min-height: 10svh;
        padding: 20px;
    }
}