/* TEMA SCURO */
.newsThumbnail {
    width: calc(25% - 15px);
    height: auto;
    min-height: 50svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    gap: 10px;
    padding: 20px 0 20px 0;
    background-color: #282828;
}

/* TEMA CHIARO */
.newsThumbnailLight {
    width: calc(25% - 15px);
    height: auto;
    min-height: 50svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    gap: 10px;
    padding: 20px 0 20px 0;
    background-color: #e8e8e8;
}

.newsImage {
    width: 100%;
    height: 20svh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 20px;
    cursor: pointer;
}

.newsImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.newsInfo {
    width: 100%;
    height: 15svh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 20px 0 20px;
    cursor: pointer;
}

.newsInfo h3:hover {
    text-decoration: underline;
}

.newsAuthor {
    width: calc(100% - 40px);
    height: 10svh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 0 20px 0 20px;
    padding: 0 20px 0px 20px;
    background-color: #222222;
    border: 1px solid #696868;
}

.newsAuthorLight {
    width: calc(100% - 40px);
    height: 10svh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 0 20px 0 20px;
    padding: 0 20px 0px 20px;
    background-color: #d1d1d1;
    border: 1px solid #bbbaba;
}

.newsAuthor p, .newsAuthorLight p {
    max-width: 90%;
    overflow: hidden;
}

/* DESKTOP PICCOLI */
@media screen and (min-width: 1025px) and (max-width: 1500px) {
    .newsThumbnail {
        width: calc(33.33% - 15px);
    }

    .newsThumbnailLight {
        width: calc(33.333% - 15px);
    }

    .newsImage {
        height: 25svh;
    }

    .newsInfo {
        height: 20svh;
    }

    .newsAuthor {
        height: 12svh;
    }

    .newsAuthorLight {
        height: 12svh;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .newsThumbnail {
        width: calc(50% - 10px);
    }

    .newsThumbnailLight {
        width: calc(50% - 10px);
    }

    .newsImage {
        height: 20svh;
    }

    .newsInfo {
        height: 20svh;
    }

    .newsAuthor {
        height: 10svh;
    }

    .newsAuthorLight {
        height: 10svh;
    }
}

/* SMARTPHONE */
@media screen and (max-width: 767px) {
    .newsThumbnail {
        width: 100%;
    }

    .newsThumbnailLight {
        width: 100%;
    }

    .newsImage {
        height: 25svh;
    }

    .newsInfo {
        height: 25svh;
    }

    .newsAuthor {
        height: 12svh;
    }

    .newsAuthorLight {
        height: 12svh;
    }

    .newsAuthor p, .newsAuthorLight p {
        max-width: 80%;
        overflow: hidden;
    }
}